.container-flex {
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    /* αν γίεται overflow, πάει σε κάτω γραμμή */
    /* flex-wrap: wrap; */
}

/* flex: flex-grow flex-shrink flex-basis */

.flex-item-1 {
    background-color: aqua;
    /* το 1 στην 1η θέση καταλαμβάνει όλο τον ελεύθερο χώρο του κουτιού (πατέρα), αναιρεί τα px που έχω ορίσει*/
    flex: 0 0 200px;
}

.flex-item-2 {
    background-color: brown;
    flex: 0 0 700px;
}

.flex-item-3 {
    background-color: lightblue;
    /* το 1 στην 2η θέση καταλαμβάνει μόνο τον υπόλοιπο χώρο του κουτιού, ανεξάρτητα από τα px που έχω ορίσει*/
    flex: 0 1 1000px;
}