/* τα παιδιά αυτομάτως αποκτήσαν την ιδιότητα του display flex */
.container {
    display: flex;
    height: 500px;
    border: 1px solid black;
    width: 90%;
    /* οριζόντια στοίχιση με justif-content μόνο για display flex */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    /* Κάθετη στοίχιση */
    align-items: start;
    align-items: center;
    align-items: end;
    align-items: stretch; /* χωρίς height από κάτω */
}

/* όλα τα elements που ξεκινούν με τη λέξη box */
div[class^="box"] {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    background-color: lightblue;
    border: 1px solid black;
}