.container {
    /* +4 από το 1px των borders */
    width: 804px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 120px;
    border: 1px solid black;
    background-color: aqua;
}

.aside {
    height: 150px;
    border: 1px solid black;
    background-color: green;
    width: 200px;
    /* χάνει την ιδιότητα του block element */
    float: left;
    /* διαφάνεια */
    opacity: 0.5;
}

.main {
    height: 150px;
    border: 1px solid black;
    background-color: brown;
    width: 400px;
    float: right;
}

.footer {
    height: 120px;
    border: 1px solid black;
    background-color: lightblue;
    clear: both;
}