.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 500px;
    display: flex;
    /*  για να μην αλλάζει το μέγεθος των κουτιών και να πηγαίνουν στην κάτω γραμμή όταν μικραίνει το παράθυρο */
    flex-wrap: wrap;
    /* στοίχιση κουτιών σε στήλες */
    flex-direction: column;
    flex-direction: column-reverse;
    /* στοίχιση κουτιών σε γραμμες (default) */
    flex-direction: row;
    flex-direction: row-reverse;
}

div[class^="box"] {
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    background-color: lightblue;
}