h1 {
    /* sy μετά το font-family-> Φέρνει αυτόματα fallback stack */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* rem καλύτερο από px γιατί βασίζεται στο μέγεθος του browzer του χρήστη - web accessibility */
    font-size: 2.5rem;

    font-weight: 700; /* 100 400 (normal) - 700 (bold) 900 */

    /* σκιές στο text οριζόντιο(+δεξιά,-αριστερά) - κάτω - bluriness */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    text-align: center;

}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem;    /* 16px */
    font-weight: 400;   /* normal */
    line-height: 1.5;   /* for readability */
    color: rgb(21, 5, 120);
}