p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* αφήνει το κείμενο να βγαίνει εκτός κουτιού */
    /* overflow: visible; */
    
    /* χωράει κείμενο στο κουτί αλλά το κρύβει */
    /* overflow: hidden; */

    /* βάζει μπάρα στο κουτί για εμφάνιση όλου του κειμένου (η μπάρα φαίνεται ακόμα και όταν το κείμενο είναι μικρό */
    /* overflow: scroll; */

    /* βάζει την μπάρα μόνο όταν το κείμεο γίνεται overflow */
    overflow: auto;
}