.container {
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.aueb-img {
    width: 400 px;
    height: auto;
    vertical-align: middle;
}

.nav {
    /* για να βάλω τη λίστα δίπλα στην εικόνα. 
    Το κάνουμε από block-element σε in-line block. */
    display: inline-block;
    vertical-align: middle;
}

/* 2ος - Πιο σωστός τρόπος */
.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav li:first-child {
    margin-left: 25px;
}

.nav a {
    text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

.nav a:hover {
    color: green;
}

.mt-5 {
    margin-top: 5px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:first-child {
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

nav a:hover {
    color: green;
}