* { /* * = Universal selector */
    box-sizing: border-box;
    padding: 0;
}

ul {
    /* display */
    display: flex; /* default flexbox allignment - Horizontal */
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* Visual */
    list-style: none;
}

a {
    /* Display */
    display: inline-block;
    
    /* Box model */
    padding: 5px 80px;
    border: 1px solid black;

    /* Typography */
    font-weight: bold;
    text-decoration: none; /* αφαίρεση υπογράμμισης link */
    
    /* Visual */
    color: black;
    cursor: pointer;

}